{% extends 'base.html' %}

{% block title %}
    <title>Edit Task- Taskmate</title>
{% endblock title %}
{% block content %}
<div class='container'>
    <br>
    {% if task_obj.manager == request.user %}
        <form method = "POST" class="row">
            {% csrf_token %}
            <label class="col-lg-1"></label>
            <input type="text" class="form-control col-lg-6" id="edit_task" placeholder="{{task_obj.task}}"value="{{task_obj.task}}" name="task" >
            <input type="hidden" class="form-control col-lg-6" id="done" placeholder="{{task_obj.done}}"value="{{task_obj.done}}" name="done" >
            <button type="submit" class="btn btn-primary col-lg-2">Update Task</button>
        </form>
    {% else %}
        <p>This page is restricted !! You are not allowed.</p>
    {% endif %}
</div>
{% endblock content %}