{% extends "base.html" %}
{% load static %}
{% block title %}
    <title>Welcome To Taskmate</title>
{% endblock title %}


{% block content %}
<div class='container'>
    <div class="row mt-5">
        <div class="col-lg-4">
            <img src="{% static 'images/notes.jpg' %} " alt="notes" width="350" class="rounded-lg shadow-sm " height="250">
        </div>
        <div class="col-lg-4">
            <img src="{% static 'images/notes.jpg' %} " alt="notes" width="350" class="rounded-lg shadow-sm " height="250">
        </div>
        <div class="col-lg-4">
            <img src="{% static 'images/notes.jpg' %} " alt="notes" width="350" class="rounded-lg shadow-sm " height="250">
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-md-6 offset-md-3">
            <center><p class="h1 text-primary">Quick and easy to use.</p></center>
            <center><p class="h2 mt-3">Organize your day.</p></center>
            <center><p class="h5">Stay Healthy . Stay safe.</p></center>
            <center><a href="{% url 'todolist' %}"><button type="button" class="btn btn-primary btn-lg shadow mt-1">Let's Get Started</button></a></center>
        </div>
    </div>
</div>
  {% endblock content %}